.fancy-font {
  font-family: 'Alex Brush', cursive;
  color: rgb(185,185,185);
}

.modern-font {
  font-family: 'Libre Baskerville', serif;
  color: rgb(131,131,131);
}

#banner {
  margin-bottom: 60px;
  margin-left: 15px;
}

h2:hover {
  color: rgb(131,131,131);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#content {
  margin: 30px;
  font-family: 'Libre Baskerville', serif;
  color: rgb(131,131,131);
}

section {
  padding: 10px;
  padding-top: 100px;
  height: 100vh;
  text-align: center;
}
section#home {
  padding-top: 200px;
}

section h3 {
  font-family: 'Alex Brush', cursive;
  color: rgb(185,185,185);
}

section h2 {
  font-family: 'Libre Baskerville', serif;
  color: rgb(131,131,131);
}

p {
  font-family: 'Libre Baskerville', serif;
  color: rgb(144,144,144);
}

a {
  color: rgb(131,131,131);
}
