#content {
  margin: 30px;
  font-family: 'Libre Baskerville', serif;
  color: rgb(131,131,131);
}

#banner {
  margin-bottom: 60px;
  margin-left: 15px;
}
#banner h3 {
  margin-top: 30px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.fancy-font {
  font-family: 'Alex Brush', cursive;
  color: rgb(185,185,185);
}
.modern-font {
  font-family: 'Libre Baskerville', serif;
  color: rgb(131,131,131);
}
section {
  padding-top: 200px;
  height: 100vh;
}
p {
  font-family: 'Libre Baskerville', serif;
  color: rgb(144,144,144);
  text-align: center;
}
